<template>
    <div>
        <div class="row mt-5">
            <div class="col-md-12 d-flex align-items-center justify-content-between">
                <h1 class="display-4 d-inline-block">{{ title }}</h1>

                <div class="button_group">
                    <button type="button" class="btn btn-primary" @click="saveCanvas()">Save</button>
                    <button type="button" class="btn btn-outline-secondary ml-2" @click="clearCanvas()">Clear</button>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <input type="file" @change="readNewUrl($event)" accept="image/*">
                        <button type="button" @click="changeImage()">Change Image</button>
                        <hr>

                        Add Filters:
                        <br>
                        <button type="button" @click="filterGrayScale()">Grayscale</button>
                        <button type="button" @click="filterSepia()">Sepia</button>
                        <br><br>
                        <button type="button" @click="removeFilter()">Remove Filter</button>

                        <hr>
                        Background colors
                        <br>

                        <button type="button" v-for="background in backgrounds" class="btn bg-button" v-bind:style="{ backgroundColor: background.color }" @click="changeBackground(background.color)"></button>

                        <br>
                        <br>

                        Hex Code:
                        <input type="text" v-model="backgroundInput">
                        <button type="button" @click="changeBackground(backgroundInput)">Go!</button>

                    </div>
                </div>
            </div>

            <!-- main canvas -->
            <div class="col-sm-8">
                <canvas width="945" height="405" style="border:1px solid #BBB;" refs="myCanvas" id="myCanvas"></canvas>
            </div>

            <!-- layers -->
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <input type="text" class="form-control" v-model="text">
                        <button type="button" class="btn btn-outline-primary mt-3 d-block ml-auto" @click="addText(text)">Submit</button>

                        <select v-model="f_family" name="fontFamily" @change="changeFontFamily()">
                            <option v-for="font in fonts" :value="font">{{ font }}</option>
                        </select>
                        <br>

                        <input type="text" v-model="f_size" @input="changeTextStyle()">

                        <br>
                        <button type="button" @click="(f_weight!='bold' ? f_weight = 'bold' : f_weight='normal'); changeTextStyle()"><b style="font-family: 'Times'">B</b></button>
                        <button type="button" @click="(f_style!='italic' ? f_style = 'italic' : f_style='normal'); changeTextStyle()"><i style="font-family: 'Times'">I</i></button>
                        <button type="button" @click="(!underline ? underline = true : underline=false); changeTextStyle()">U</button>
                        <br><br>

                        <button type="button" v-for="background in backgrounds" class="btn bg-button" v-bind:style="{ backgroundColor: background.color }" @click="f_color=background.color; changeTextStyle()"></button>

                        <hr>
                        <button type="button" @click="removeObject()">Delete</button>
                        <button type="button" @click="(lock = !lock);lockObject()">Lock</button>
                        <button type="button" @click="permanentObject()">Not Selectable</button>

                        <hr>
                        <button type="button" @click="fitCanvas()">Fit</button>
                        <button type="button" @click="sendBack()">Send To Back</button>
                        <button type="button" @click="bringFront()">Bring To Front</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" v-for="alignment in alignments" class="btn btn-default mr-2"
                        @click="alignItems(alignment.align)">Align {{ alignment.align }}
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Add Images
                    </div>
                    <div class="card-body">
                        <img v-for="image in images" class="images-item" @click="getImgPolaroid($event)" :src="image">
                        <!--<img class="images-item" @click="getImgPolaroid($event)" src="images/RMGBD7.PNG">-->
                        <!--<img class="images-item" @click="getImgPolaroid($event)" src="images/template.PNG">-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label for="data">Product Data</label>
            <textarea id="data" name="data" class="form-control">{{ template }}</textarea>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                text: null,
                canvas: null,
                title: 'Admin Editor',
                activeColor: 'red',
                url: '',
                newUrl: '',
                backgrounds: [{
                    color: '#071E22'
                    },
                    {
                        color: '#1D7874'
                    },
                    {
                        color: '#679289'
                    },
                    {
                        color: '#F4C095'
                    },
                    {
                        color: '#EE2E31'
                    },
                    {
                        color: '#2B2D42'
                    },
                    {
                        color: '#8D99AE'
                    },
                    {
                        color: '#EDF2F4'
                    },
                    {
                        color: '#EF233C'
                    },
                ],
                backgroundInput: null,
                fonts: [
                    'Times New Roman', 'Impact', 'Verdana', 'Arial', 'San Serif'
                ],
                f_weight: 'normal',
                f_family: 'Times new Roman',
                f_size: 50,
                f_style: 'normal',
                f_color: '#000',
                underline: false,
                crops: [
                    { el: null },
                    { object: null },
                    { lastActive: null },
                    { selection_object_left: 0 },
                    { selection_object_top: 0 },
                ],
                template: typeof template === 'undefined' ? null: template,
                lock:false,
                png: null,
                alignments: [{ align: 'left' }, { align: 'center' }, { align: 'right' }, { align: 'top' }, { align: 'middle' }, { align: 'bottom' } ],
                // images: ['/storage/product/template_1522608350.png'],
                // paths: ["/storage\/product\/template_1522608350.png","/storage/product/RMGBD7_1522608788.png"],
                images: images
            }
        },
        created() {
          // this.images = JSON.parse(this.images);
        },
        mounted() {
            var canvas = new fabric.Canvas('myCanvas', {
                backgroundColor: '#fff'
            });

            this.canvas = canvas;
            this.canvas.preserveObjectStacking = true;

            this.canvas.renderAll();

            this.loadCanvas();
        },
        watch() {
        },
        methods: {
            createRect() {
                var rect = new fabric.Rect({
                    left: 100,
                    top: 100,
                    fill: 'teal',
                    width: 200,
                    height: 200,
                    angle: 0
                });

                this.canvas.add(rect);
                this.selectItemAfterAdded(rect)
            },
            changeBackground(color) {
                this.canvas.backgroundColor = color;
                this.canvas.renderAll();
                this.backgroundInput='';
            },
            addText(text) {
                var text = new fabric.IText(text, {
                    left: 100,
                    top: 100,
                    fontSize: this.f_size,
                    fontFamily: this.f_family,
                    fontWeight: this.f_weight
                });
                this.canvas.add(text);

                // this.canvas.renderAll();
                this.selectItemAfterAdded(text);
            },
            changeFontFamily(){
                var txt = this.canvas.getActiveObject();
                txt.set({
                    fontFamily: this.f_family
                });
                this.canvas.renderAll();
            },
            changeTextStyle() {
                var txt = this.canvas.getActiveObject();
                txt.set({
                    fontWeight: this.f_weight,
                    fontSize: this.f_size,
                    fontStyle: this.f_style,
                    fill: this.f_color,
                    underline: this.underline
                });
                this.canvas.renderAll();
            },

            // upper 2 method and this medthod gives same reuslt
            readNewUrl(event) {
                if (event.target.files && event.target.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (event) => {
                        this.newUrl = event.target['result'];
                        this.changeImage();
                    }
                    reader.readAsDataURL(event.target.files[0]);
                }
            },

            // for changing Image
            changeImage() {
                var temp = this.canvas.getActiveObject();
                temp.setSrc(this.newUrl, ()=>{this.canvas.renderAll();})
            },
            // image filters
            filterGrayScale() {
                var img = this.canvas.getActiveObject();
                img.filters.push(new fabric.Image.filters.Grayscale());

                // apply filters and re-render canvas when done
                img.applyFilters();

                this.canvas.renderAll();
            },
            filterSepia() {
                var img = this.canvas.getActiveObject();
                img.filters.push(new fabric.Image.filters.Sepia());

                // apply filters and re-render canvas when done
                img.applyFilters();

                this.canvas.renderAll();
            },
            removeFilter(){
                var img = this.canvas.getActiveObject();
                if (!img) return;
                img.filters = [];
                img.applyFilters();
                this.canvas.renderAll();
            },

            // for croping
            // https://fiddle.jshell.net/filiperoberto/wLub3jau/


            // for deleting selected item
            removeObject() {
                this.canvas.remove(this.canvas.getActiveObject());
            },
            lockObject() {
                this.canvas.getActiveObject().set({
                    lockMovementX:this.lock,
                    lockMovementY:this.lock
                });
            },
            permanentObject() {
                // var answer = confirm("Are you sure you want to make it unselectable?")
                // if (answer) {
                //some code
                this.canvas.getActiveObject().set({
                    selectable:false,
                    evented: false
                });
                this.canvas.discardActiveObject();
                this.canvas.renderAll();
                // }
                // else {
                //     //some code
                // }
            },
            sendBack(){
                this.canvas.sendToBack(this.canvas.getActiveObject());
            },
            bringFront(){
                this.canvas.bringToFront(this.canvas.getActiveObject());
            },
            fitCanvas(){
                this.canvas.getActiveObject().scaleToWidth(this.canvas.getWidth());
                this.canvas.renderAll();
            },

            // select item after adding
            selectItemAfterAdded(obj) {
                // this.canvas.deactivateAllWithDispatch().renderAll();
                // this.canvas.renderAll();
                this.canvas.setActiveObject(obj);
            },


            // save and loadCanvas
            saveCanvas(){
                // this.template = this.canvas.toJSON();
                this.template = JSON.stringify(this.canvas.toJSON(['lockMovementX', 'lockMovementY', 'lockRotation', 'lockScalingX', 'lockScalingY', 'lockUniScaling', 'selectable', 'evented']));
            },
            saveCanvasPng(){
                this.png = this.canvas.toDataURL('png');
            },
            loadCanvas(){
                this.canvas.loadFromJSON(this.template, this.canvas.renderAll.bind(this.canvas), function() {
                    // alert(' this is a callback. invoked when canvas is loaded! ');
                });
            },
            clearCanvas(){
                this.canvas.clear();
                this.canvas.backgroundColor = '#fff';
                this.canvas.renderAll();
            },

            // for adding images on the dom
            getImgPolaroid(event) {
                let el = event.target;
                fabric.Image.fromURL(el.src, (image) => {
                    image.set({
                        left: 0,
                        top: 0,
                        angle: 0,
                        padding: 0,
                        cornersize: 10,
                        hasRotatingPoint: true,
                        peloas: 12
                    });
                    image.scaleToHeight(200);
                    // this.extend(image, this.randomId());
                    this.canvas.add(image);
                    this.selectItemAfterAdded(image);
                });
            },
            alignItems(alignment) {
                // var cur_value = $(this).attr('data-action');
                var activeObj = this.canvas.getActiveObject();
                if (activeObj) {
                    this.process_align(alignment, activeObj);
                    activeObj.setCoords();
                    this.canvas.renderAll();
                } else {
                    alert('Please select a item');
                    return false;
                }
            },
            /* Align the selected object */
            process_align(val, activeObj) {
                switch (val) {

                    case 'left':
                        activeObj.set({
                            left: 0
                        });
                        break;
                    case 'right':
                        activeObj.set({
                            left: this.canvas.width - (activeObj.width * activeObj.scaleX)
                        });
                        break;
                    case 'top':
                        activeObj.set({
                            top: 0
                        });
                        break;
                    case 'bottom':
                        activeObj.set({
                            top: this.canvas.height - (activeObj.height * activeObj.scaleY)
                        });
                        break;
                    case 'center':
                        activeObj.set({
                            left: (this.canvas.width / 2) - ((activeObj.width * activeObj.scaleX) / 2)
                        });
                        break;
                    case 'middle':
                        activeObj.set({
                            top: (this.canvas.height / 2) - ((activeObj.height * activeObj.scaleY) / 2)
                        });
                        break;
                }
            },
        }
    }
</script>

<style>
    .images-item {
        height: 100px;
        cursor: pointer;
        -webkit-transition: .5s ease;
        -webkit-transition: .5s ease;
        padding: 3px;
    }

    .images-item:hover {
        opacity: 0.7;
    }

    .images-item-upload {
        width: 80%;
        cursor: pointer;
        padding-bottom: 10px;
        -webkit-transition: .5s ease;
        -webkit-transition: .5s ease;
    }

    .images-item-upload:hover {
        opacity: 0.7;
    }
</style>