<template>
    <div>
        <div class="row">
            <div class="col-md-12 d-flex align-items-center">
                <h1 class="display-4 d-inline-block">{{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body row">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <!-- name of the product -->
                        <!--<div class="col-sm-4">-->
                            <!--<input>-->
                        <!--</div>-->

                        <!-- add things -->
                        <div>
                            <label class="btn btn-primary btn-file mb-0">
                                <i class="fas fa-image mr-2"></i>Add Image<input type="file" @change="readUrl($event)" style="display: none;" accept="image/*">
                            </label>
                            <!--<input type="file" @change="readUrl($event)" accept="image/*">-->
                            <!--<button type="button" class="btn btn-secondary" @click="addImage()">-->
                                <!--<i class="fas fa-images mr-2"></i>Add Same Image-->
                            <!--</button>-->
                            <button type="button" @click="replay('undo')" :disabled="disableUndo" class="btn btn-dark"><i class="fas fa-undo-alt mr-2"></i>Undo</button>
                            <button type="button" @click="replay('redo')" :disabled="disableRedo" class="btn btn-dark"><i class="fas fa-redo-alt mr-2"></i>Redo</button>

                        </div>

                        <div >
                            <div class="row">
                                <div class="col-md-12">
                                    <button v-for="alignment in alignments" class="btn btn-outline-dark mr-2"
                                            type="button" @click="alignItems(alignment.align)">Align {{ alignment.align }}
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div >
                            <div class="button_group">
                                <!--<button type="button" class="btn btn-primary" @click="saveCanvas()">Save</button>-->
                                <button type="button" class="btn btn-info" @click="saveCanvas()" title="Save">
                                    <i class="fas fa-save mr-2"></i>Save
                                </button>
                                <!--<button type="button" class="btn btn-outline-primary" @click="loadCanvas()">Load</button>-->
                                <button type="button" class="btn btn-secondary" @click="loadCanvas()" title="Load">
                                    <i class="fas fa-download mr-2"></i>Load
                                </button>

                                <button type="button" class="btn btn-danger ml-3" @click="addToCart()" title="Add to cart">
                                    <i class="fas fa-cart-arrow-down mr-2"></i>Add to cart
                                </button>

                                <button type="button" class="btn btn-dark ml-3" @click="clearCanvas()" title="Clear">
                                    <i class="fas fa-ban mr-2"></i>Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <label class="btn btn-dark btn-file mb-0">
                            <i class="far fa-image mr-2"></i>Change Image<input type="file" @change="readNewUrl($event)" style="display: none;" accept="image/*">
                        </label>
                        <!--<button type="button" class="btn btn-secondary" @click="changeImage()">-->
                            <!--<i class="far fa-images mr-2"></i>Change with Same Image-->
                        <!--</button>-->
                        <hr>

                        <label>Add Filters:</label>
                        <br>
                        <button type="button" class="btn btn-secondary" @click="filterGrayScale()">Grayscale</button>
                        <button type="button" class="btn btn-secondary" @click="filterSepia()">Sepia</button>
                        <br><br>
                        <button type="button" class="btn btn-danger" @click="removeFilter()">
                            <i class="fas fa-filter mr-2"></i>Remove Filter
                        </button>

                        <hr>
                        <label>Background colors</label>
                        <br>

                        <button type="button" v-for="background in backgrounds" class="btn bg-button" v-bind:style="{ backgroundColor: background.color }" @click="changeBackground(background.color)"></button>
                        <!--<input type="color" value="#ff0000" class="">-->
                        <hr>
                        <div class="d-flex align-items-center">
                            <span class="float-left mr-2">Choose color:</span>
                            <div class="d-inline-block p-1 color-container">
                                <div id="color-picker-wrapper">
                                    <input type="color" id="color-picker" v-model="selectedcolor" @change="changeBackground(selectedcolor)">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label for="colorCode">Color Code:</label>
                            <!--<input type="text" class="form-control" v-model="backgroundInput">-->
                            <!--<button type="button" class="btn btn-info btn-block" @click="changeBackground(backgroundInput)">Go!</button>-->
                        <div class="input-group mb-3" name="colorCode" id="colorCode">
                            <input type="text" class="form-control" placeholder="#ff0000" v-model="backgroundInput">
                            <div class="input-group-append">
                                <button class="btn btn-info btn-block" type="button" @click="changeBackground(backgroundInput)">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- main canvas -->
            <div class="col-sm-8 position-relative main-canvas">
                <!-- <canvas width="827" height="355" style="border:1px solid #BBB;" refs="myCanvas" id="myCanvas"></canvas> -->
                <canvas width="945" height="405" style="border:1px solid #BBB;" refs="myCanvas" id="myCanvas"></canvas>
            </div>

            <!-- layers -->
            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <!--<input type="text" class="form-control" v-model="text">-->
                        <!--<button type="button" class="btn btn-outline-primary mt-3 d-block ml-auto" @click="addText(text)">Submit</button>-->
                        <label>Add text:</label>
                        <div class="input-group mb-3" name="textAdd">
                            <input type="text" class="form-control" placeholder="Your text" v-model="text">
                            <div class="input-group-append">
                                <button class="btn btn-info btn-block" type="button" @click="addText(text)">Go!</button>
                            </div>
                        </div>

                        <label>Choose Font</label>
                        <select v-model="f_family" name="fontFamily" class="form-control" @change="changeFontFamily()" placeholder="Choose font">
                            <option v-for="font in fonts" :value="font" :selected="font == f_family" >{{ font }}</option>
                        </select>

                        <br>

                        <label>Font Size:</label>
                        <input type="text" name="fontSize" class="form-control text-right" v-model="f_size" @input="changeTextStyle()">
                        <!-- <button @click="f_color='#f00'; changeTextStyle()">change to red</button> -->
                        <br>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn mr-2" v-bind:class="{'btn-outline-dark' : f_weight!='bold', 'btn-dark' : f_weight=='bold'}" @click="(f_weight!='bold' ? f_weight = 'bold' : f_weight='normal'); changeTextStyle()">
                                <i class="fas fa-bold"></i>
                            </button>
                            <button type="button" class="btn mr-2" v-bind:class="{'btn-outline-dark' : f_style!='italic', 'btn-dark' : f_style=='italic'}" @click="(f_style!='italic' ? f_style = 'italic' : f_style='normal'); changeTextStyle()">
                                <i class="fas fa-italic"></i>
                            </button>
                            <button type="button" class="btn mr-2" v-bind:class="{'btn-outline-dark' : !underline, 'btn-dark' : underline}" @click="(!underline ? underline = true : underline=false); changeTextStyle()">
                                <i class="fas fa-underline"></i>
                            </button>
                            <div class="d-inline-block p-1 color-container">
                                <div id="color-picker-wrapper-text">
                                    <input type="color" id="color-picker-text" v-model="selectedTextColor" @change="f_color=selectedTextColor; changeTextStyle()">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="button" class="btn btn-outline-dark" @click="alignText('left')">
                                <i class="fas fa-align-left"></i>
                            </button>
                            <button type="button" class="btn btn-outline-dark" @click="alignText('center')">
                                <i class="fas fa-align-center"></i>
                            </button>
                            <button type="button" class="btn btn-outline-dark" @click="alignText('right')">
                                <i class="fas fa-align-right"></i>
                            </button>
                        </div>

                        <!--<button type="button" v-for="background in backgrounds" class="btn bg-button" v-bind:style="{ backgroundColor: background.color }" @click="f_color=background.color; changeTextStyle()"></button>-->

                        <hr>
                        <button type="button" @click="(lock = !lock);lockObject()" class="btn" v-bind:class="{'btn-secondary' : !lock, 'btn-warning' : lock}" title="Lock Item">
                            <i class="fas fa-lock" v-if="lock"></i>
                            <i class="fas fa-unlock" v-if="!lock"></i>
                        </button>

                        <button type="button" class="btn btn-danger" @click="removeObject()" title="Delete Item">
                            <i class="fas fa-trash"></i>
                        </button>

                        <button type="button" class="btn btn-info" @click="fitCanvas()" title="Fit to canvas">
                            <i class="fas fa-expand-arrows-alt mr-2"></i> Fit to canvas
                        </button>


                        <hr>
                        <button type="button" class="btn btn-dark" @click="sendBack()">Send Back</button>
                        <button type="button" class="btn btn-dark" @click="bringFront()">Bring Front</button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">-->
            <!--<label for="data">Product Data</label>-->
            <!--<textarea id="data" name="data" class="form-control">{{ template }}</textarea>-->
        <!--</div>-->
        <!--<button type="button" @click="saveCanvasPng()">Png Create</button>-->

        <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#previewModal" @click="preview()">Preview</button>-->
        <!--<transition name="modal">-->
        <!--<div class="modal" id="previewModal" tabindex="-1" role="dialog"-->
             <!--aria-labelledby="exampleModalLabel" aria-hidden="true">-->
            <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                    <!--<div class="modal-header">-->
                        <!--<h5 class="modal-title" id="exampleModalLabel">Wrapped images</h5>-->
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--<span aria-hidden="true">&times;</span>-->
                        <!--</button>-->
                    <!--</div>-->
                    <!--<div class="modal-body">-->

                        <!--&lt;!&ndash; <img src="images/wrap/wrap1.png" alt="" height="300px;"> &ndash;&gt;-->
                        <!--<div id="wrapCarousel" class="carousel slide" data-ride="carousel">-->
                            <!--<div class="carousel-inner">-->
                                <!--<div class="carousel-item text-center active">-->
                                    <!--<img :src="image_front" class="d-block mx-auto" height="300px"  alt="First slide">-->
                                <!--</div>-->
                                <!--<div class="carousel-item text-center">-->
                                    <!--<img :src="image_mid" class="d-block mx-auto" height="300px"  alt="Second slide">-->
                                <!--</div>-->
                                <!--<div class="carousel-item text-center">-->
                                    <!--<img :src="image_back" class="d-block mx-auto" height="300px"  alt="Third slide">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<a class="carousel-control-prev" href="#wrapCarousel" role="button" data-slide="prev">-->
                                <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                <!--<span class="sr-only">Previous</span>-->
                            <!--</a>-->
                            <!--<a class="carousel-control-next" href="#wrapCarousel" role="button" data-slide="next">-->
                                <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                <!--<span class="sr-only">Next</span>-->
                            <!--</a>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</transition>-->

        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center">
                <button type="button" class="btn btn-success btn-custom" @click="preview()">
                    <i class="fas fa-circle-notch fa-spin mr-4" v-show="isloading"></i>
                    <i class="fas fa-search mr-4" v-show="!isloading"></i> Preview
                </button>
            </div>
        </div>

        <form method="POST" :action="previewurl" id="preview-form">
            <input type="hidden" name="_token" :value="token">
        <textarea name="imageURI" class="form-control d-none">{{ png }}</textarea>
        </form>

        <form method="POST" :action="addtocarturl" id="add-to-cart-form">
            <input type="hidden" name="_token" :value="token">
        <textarea name="imageURI" class="form-control d-none">{{ png }}</textarea>
        </form>




        <div v-if="showModal">
            <transition name="modal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Preview</h4>
                                    <button type="button" class="close" @click="showModal=false">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="wrapCarousel" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" >
                                            <div class="carousel-item text-center active">
                                                <!--asd-->
                                                <img crossOrigin="Anonymous" :src="image_front" class="d-block mx-auto" height="300px" alt="First slide">
                                            </div>
                                            <div class="carousel-item text-center">
                                                <!--qwe-->
                                                <img crossOrigin="Anonymous" :src="image_mid" class="d-block mx-auto" height="300px" alt="First slide">
                                            </div>
                                            <div class="carousel-item text-center">
                                                <!--zxc-->
                                                <img crossOrigin="Anonymous" :src="image_back" class="d-block mx-auto" height="300px" alt="First slide">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#wrapCarousel" role="button" data-slide="prev">
                                            <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                                            <!--<span class="sr-only">Previous</span>-->
                                            <i class="fas fa-chevron-left text-dark" style="font-size: 24px"></i>
                                        </a>
                                        <a class="carousel-control-next" href="#wrapCarousel" role="button" data-slide="next">
                                            <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                                            <!--<span class="sr-only">Next</span>-->
                                            <i class="fas fa-chevron-right text-dark" style="font-size: 24px"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        <!--<button id="show-modal" @click="showModal = true">Show Modal</button>-->



    </div>
</template>

<script>
    export default {
        props: ['addtocarturl', 'token', 'previewurl'],
        data() {
            return{
                text: null,
                canvas: null,
                title: 'Editor',
                activeColor: 'red',
                // image: '',
                url: '/storage/product/omegalul_1522228531.jpg  ',
                newUrl: '',
                backgrounds: [
                    {
                        color: '#071E22'
                    },
                    {
                        color: '#1D7874'
                    },
                    {
                        color: '#679289'
                    },
                    {
                        color: '#F4C095'
                    },
                    {
                        color: '#EE2E31'
                    },
                    {
                        color: '#2B2D42'
                    },
                    {
                        color: '#8D99AE'
                    },
                    {
                        color: '#EDF2F4'
                    },
                    {
                        color: '#F2552C'
                    },
                    {
                        color: '#95DEE3'
                    },
                    {
                        color: '#6B5B95'
                    },
                    {
                        color: '#55B4B0'
                    },
                ],
                backgroundInput: null,
                fonts: [
                    'Times New Roman', 'Impact', 'Verdana', 'Arial', 'San Serif'
                ],
                f_weight: 'normal',
                f_family: 'Times new Roman',
                f_size: 50,
                f_style: 'normal',
                f_color: '#000',
                underline: false,
                crops: [
                    { el: null },
                    { object: null },
                    { lastActive: null },
                    { selection_object_left: 0 },
                    { selection_object_top: 0 },
                ],
                template: typeof template === 'undefined' ? null: template,
                lock:false,
                png: null,
                alignments: [{ align: 'Left' }, { align: 'Center' }, { align: 'Right' }, { align: 'Top' }, { align: 'Middle' }, { align: 'Bottom' } ],
                image_front: null,
                image_mid: null,
                image_back: null,
                showModal: false,
                selectedcolor: '#E94B3C',
                selectedTextColor: '#071E22',
                isloading: false,
                state: null,
                undoArr:[],
                redoArr:[],
                disableUndo: true,
                disableRedo: true
            }
        },
        mounted() {
            var canvas = new fabric.Canvas('myCanvas', {
                backgroundColor: '#fff'
            });
            fabric.Image.prototype.strokeWidth = 0;


            this.canvas = canvas;
            this.canvas.preserveObjectStacking = true;

            this.canvas.renderAll();

            this.loadCanvas();


            // for background
            var color_picker = document.getElementById("color-picker");
            var color_picker_wrapper = document.getElementById("color-picker-wrapper");
            color_picker.onchange = function() {
                color_picker_wrapper.style.backgroundColor = color_picker.value;
            }
            color_picker_wrapper.style.backgroundColor = color_picker.value;

            // for text
            var text_color = document.getElementById("color-picker-text");
            var text_color_wrapper = document.getElementById("color-picker-wrapper-text");
            text_color.onchange = function() {
                text_color_wrapper.style.backgroundColor = text_color.value;
            }
            text_color_wrapper.style.backgroundColor = text_color.value;

            let that = this;
            this.canvas.on('object:modified', function() {
                // this.saveState();
                that.saveState();
            });

        },
        watch() {
        },
        methods: {
            changeBackground(color) {
                this.canvas.backgroundColor = color;
                this.canvas.renderAll();
                this.backgroundInput='';
                this.saveState();
            },
            addText(text) {
                var text = new fabric.IText(text, {
                    left: 100,
                    top: 100,
                    fontSize: this.f_size,
                    fontFamily: this.f_family,
                    fontWeight: this.f_weight
                });
                this.canvas.add(text);

                // this.canvas.renderAll();
                this.selectItemAfterAdded(text);
                this.saveState();
            },
            alignText(alignment) {
                var selectedObj = this.canvas.getActiveObject();
                if(selectedObj.type === 'group') {
                    var textFromGroup = selectedObj._objects[1];
                    textFromGroup.setTextAlign(alignment);
                }
                else{
                    selectedObj.setTextAlign(alignment);
                }

                this.canvas.renderAll();
                this.canvas.calcOffset();
                this.saveState();
            },
            changeFontFamily(){
                var txt = this.canvas.getActiveObject();
                txt.set({
                    fontFamily: this.f_family
                });
                this.canvas.renderAll();
                this.saveState();
            },
            changeTextStyle() {
                var txt = this.canvas.getActiveObject();
                txt.set({
                    fontWeight: this.f_weight,
                    fontSize: this.f_size,
                    fontStyle: this.f_style,
                    fill: this.f_color,
                    underline: this.underline
                });
                this.canvas.renderAll();
                this.saveState();
            },

            // image related
            // https://codepen.io/Atinux/pen/qOvawK

            onFileChange(e) {
                // console.log(e)
                var files = e.target.files || e.dataTransfer.fil;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                var image = new Image();
                var reader = new FileReader();
                var vm = this;

                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            // upper 2 method and this medthod gives same reuslt
            readUrl(event) {
                if (event.target.files && event.target.files[0]) {
                    var reader = new FileReader();
                    reader.onload = (event) => {
                        this.url = event.target['result'];
                        this.addImage();
                    }
                    reader.readAsDataURL(event.target.files[0]);
                }
            },
            readNewUrl(event) {
                var active = this.canvas.getActiveObject();
                if(!active) {
                    alert("Select an image to change");
                }else {
                    if (event.target.files && event.target.files[0]) {
                        var reader = new FileReader();
                        reader.onload = (event) => {
                            this.newUrl = event.target['result'];
                            this.changeImage();
                        }
                        reader.readAsDataURL(event.target.files[0]);
                    }
                }
            },

            addImage() {
                fabric.Image.fromURL(this.url, (oImg) => {
                    oImg.set({
                        left: 0,
                        top: 0,
                        transparentCorners: false,
                    });
                    oImg.setControlsVisibility({
                        mt: false, // middle top disable
                        mb: false, // midle bottom
                        ml: false, // middle left
                        mr: false, // I think you get it
                    });
                    oImg.scaleToHeight(200);
                    this.canvas.add(oImg);
                    this.selectItemAfterAdded(oImg);
                    this.saveState();
                });
                // this.canvas.renderAll();
            },

            // for changing Image
            changeImage() {
                var temp = this.canvas.getActiveObject();
                temp.setSrc(this.newUrl, ()=>{this.canvas.renderAll();})
                this.saveState();
            },
            // image filters
            filterGrayScale() {
                var img = this.canvas.getActiveObject();
                img.filters.push(new fabric.Image.filters.Grayscale());

                // apply filters and re-render canvas when done
                img.applyFilters();

                this.canvas.renderAll();
                this.saveState();
            },
            filterSepia() {
                var img = this.canvas.getActiveObject();
                img.filters.push(new fabric.Image.filters.Sepia());

                // apply filters and re-render canvas when done
                img.applyFilters();

                this.canvas.renderAll();
                this.saveState();
            },
            removeFilter(){
                var img = this.canvas.getActiveObject();
                if (!img) return;
                img.filters = [];
                img.applyFilters();
                this.canvas.renderAll();
                this.saveState();
            },

            // for deleting selected item
            removeObject() {
                var active = this.canvas.getActiveObject();
                if(!active) {
                    alert("Select an item to be deleted");
                }else {
                    this.canvas.remove(this.canvas.getActiveObject());
                    this.saveState();
                }
            },
            lockObject() {
                this.canvas.getActiveObject().set({
                    lockMovementX:this.lock,
                    lockMovementY:this.lock
                });
            },
            sendBack(){
                this.canvas.sendToBack(this.canvas.getActiveObject());
                this.saveState();
            },
            bringFront(){
                this.canvas.bringToFront(this.canvas.getActiveObject());
                this.saveState();
            },
            fitCanvas(){
                this.canvas.getActiveObject().scaleToWidth(this.canvas.getWidth());
                this.canvas.renderAll();
                this.saveState();
            },

            // select item after adding
            selectItemAfterAdded(obj) {
                // this.canvas.deactivateAllWithDispatch().renderAll();
                // this.canvas.renderAll();
                this.canvas.setActiveObject(obj);
            },


            // save and loadCanvas
            saveCanvas(){
                // this.template = this.canvas.toJSON();
                this.template = JSON.stringify(this.canvas.toJSON(['lockMovementX', 'lockMovementY', 'lockRotation', 'lockScalingX', 'lockScalingY', 'lockUniScaling', 'selectable', 'evented']));
            },
            saveCanvasPng(){
                this.png = this.canvas.toDataURL('png');
            },
            saveCanvasPngMultiplier(){
                this.png = this.canvas.toDataURL({
                    format: 'png',
                    multiplier: 3
                });
            },
            loadCanvas(){
                this.canvas.loadFromJSON(this.template, this.canvas.renderAll.bind(this.canvas), function() {
                    // alert(' this is a callback. invoked when canvas is loaded! ');
                });
            },
            clearCanvas(){
                if (confirm('Are you sure you want to clear the canvas?')) {
                    this.canvas.clear();
                    this.canvas.backgroundColor = '#fff';
                    this.canvas.renderAll();
                }
            },

            saveCanvasLocal(){
                localStorage.removeItem('Kanvas');
                let json = JSON.stringify(this.canvas.toDatalessJSON(['lockMovementX', 'lockMovementY', 'lockRotation', 'lockScalingX', 'lockScalingY', 'lockUniScaling', 'selectable', 'evented']));
                localStorage.setItem('Kanvas', json);
                // console.log('json');
                // console.log(json);

                console.log("saved");
            },
            loadCanvasLocal(){
                let CANVAS = localStorage.getItem('Kanvas');


                // this.canvas.loadFromJSON(CANVAS, () => {
                // 	this.canvas.renderAll();
                // })
                this.canvas.loadFromJSON(CANVAS, this.canvas.renderAll.bind(this.canvas), function() {});

            },

            alignItems(alignment) {
                // var cur_value = $(this).attr('data-action');
                var activeObj = this.canvas.getActiveObject();
                if (activeObj) {
                    this.process_align(alignment, activeObj);
                    activeObj.setCoords();
                    this.canvas.renderAll();
                    this.saveState();
                } else {
                    alert('Please select a item');
                    return false;
                }
            },

            // Align the selected object
            process_align(val, activeObj) {
                switch (val) {

                    case 'Left':
                        activeObj.set({
                            left: 0
                        });
                        break;
                    case 'Right':
                        activeObj.set({
                            left: this.canvas.width - (activeObj.width * activeObj.scaleX)
                        });
                        break;
                    case 'Top':
                        activeObj.set({
                            top: 0
                        });
                        break;
                    case 'Bottom':
                        activeObj.set({
                            top: this.canvas.height - (activeObj.height * activeObj.scaleY)
                        });
                        break;
                    case 'Center':
                        activeObj.set({
                            left: (this.canvas.width / 2) - ((activeObj.width * activeObj.scaleX) / 2)
                        });
                        break;
                    case 'Middle':
                        activeObj.set({
                            top: (this.canvas.height / 2) - ((activeObj.height * activeObj.scaleY) / 2)
                        });
                        break;
                }
            },

            // preview image
            preview() {
                this.isloading = true;
                this.saveCanvasPng();
                let that = this;
                setTimeout(function () {
                    $.ajax({
                        method: 'POST',
                        url: that.previewurl,
                        data: {_token:that.token, imageURI: that.png},
                        success(response) {
                            that.isloading = false;

                            that.image_front = response.image_front +'?'+ Math.random();
                            that.image_mid = response.image_mid +'?'+ Math.random();
                            that.image_back = response.image_back +'?'+ Math.random();

                            that.showModal = true;
                        }
                    })
                }, 200);
            },
            // add to cart
            addToCart() {
                this.saveCanvas();
                let that=this;
                setTimeout(function(){
                    that.saveCanvasPngMultiplier();
                }, 200);
                setTimeout(function () {
                    $('#add-to-cart-form').submit();
                }, 200);
            },

            // //for undo
            saveState() {
                // clear the redo stack
                this.redoArr = [];
                this.disableRedo=true;
                // initial call won't have a state
                if (this.state) {
                    this.undoArr.push(this.state);
                    this.disableUndo=false;
                }
                this.state = JSON.stringify(this.canvas);
            },

            replay(btnClick) {
                if(btnClick == 'undo'){
                    this.redoArr.push(this.state);
                    this.state = this.undoArr.pop();

                    this.disableRedo = true;
                    this.disableUndo = true;

                    this.canvas.clear();

                    let that=this;
                    this.canvas.loadFromJSON(this.state, function() {
                        that.canvas.renderAll();
                        // now turn the buttons back on if applicable
                        that.disableRedo = false;
                        if (that.undoArr.length) {
                            that.disableUndo = false;
                        }
                    });
                }
                else if(btnClick == 'redo'){
                    this.undoArr.push(this.state);
                    this.state = this.redoArr.pop();

                    this.disableUndo = true;
                    this.disableRedo = true;

                    this.canvas.clear();

                    let that=this;
                    this.canvas.loadFromJSON(this.state, function() {
                        that.canvas.renderAll();
                        // now turn the buttons back on if applicable
                        that.disableUndo = false;
                        if (that.redoArr.length) {
                            that.disableRedo = false;
                        }
                    });
                }
            }


        }
    }
</script>

<style>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    
    .canvas-container {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-56%,-50%);
        -moz-transform: translate(-56%,-50%);
        -ms-transform: translate(-56%,-50%);
        -o-transform: translate(-56%,-50%);
        transform: translate(-56%,-50%);
    }
    .canvas-container canvas{
        width: 100px; height: 100px;
    }
    .main-canvas {
        background-image: url('../../../../public/images/mug-edit.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 89%;
    }

    .btn-circle {
        height: 50px;
        width: 50px;
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .btn-custom {
        height: 50px;
        width: auto;
        font-size: 18px;
        padding: 0 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    input[type="color"] {
        opacity: 0;
        display: block;
        width: 30px;
        height: 30px;
        border: none;
    }
    #color-picker-wrapper {
        border-radius: .25rem;
        float: left;
    }
    #color-picker-wrapper-text {
        border-radius: .25rem;
        float: left;
    }
    #color-picker-text {
        cursor: pointer;
        pointer-events: auto;
    }
    #color-picker {
        cursor: pointer;
        pointer-events: auto;
    }
    .color-container {
        border-radius: .25rem;
        border: 1px solid #343a40;
        cursor: pointer;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        pointer-events: none;
    }
    .color-container:hover {
        border: 1px solid #fff;
        /*border: 1px solid #23272b;*/
    }
</style>