@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open-sans', Helvetica, sans-serif;
    background: #fff;
    position: relative;
    min-height: 100vh;
}
body::after {
    content: '';
    background-image: url("../images/bgpattern/shattered.png");
    opacity: .8;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;
}
a[type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* home banner style */

.landing-page_banner-image {
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 90vh;
    clip-path: polygon( 0 0, /* left top */
    100% 0, /* right top */
    100% calc(100% - 7vw), /* right bottom */
    0 100%/* left bottom */
    );
}

.landing-page_banner-image>div {
    padding: 0;
}

/*.navbar_with_banner {*/
     /*background: rgba(0, 0, 0, 0.5); */
/*}*/
.navigation-bar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    height: 80px;
    -webkit-transition: height .3s; /* Safari */
    transition: height .3s;
}
.navigation-bar.navbar-dark {
    border-bottom-color:  rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.navigation-bar.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}
.navigation-bar.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}
.navigation-bar.navbar-dark .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}
.navigation-bar.navbar-dark .header_icons {
    height: 24px;
    fill:none;
    stroke: rgba(255, 255, 255, .8);
}
.navigation-bar.navbar-dark .header_icons:hover {
    stroke: rgba(255, 255, 255, 1);
}
.navbar-brand img {
    height: 50px;
}
.occasion_select{
    border: 1px solid #3C3E3E;
    width: 300px;
    height: 40px;
    font-size: 16px;
}
.occasion_select--button {
    border-radius: 0;
    border: 0;
    background-color: #3C3E3E;
    color: #ffffff !important;
    height: 40px;
    font-size: 16px;
}
.occasion_select--button:hover {
    background-color: #111111;
    color: #ffffff;
}
.occasion_select_dark{
    border: 0;
    width: 300px;
    height: 40px;
    font-size: 16px;
}
.occasion_select_dark--button {
    border-radius: 0;
    border: 0;
    background-color: #F21826;
    color: white;
    height: 40px;
    font-size: 16px;
}
.header_icons {
    height: 24px;
    fill:none;
    stroke: #3C3E3E;
}
.header_icons:hover {
    stroke: #000;
}
.cart-badge {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: #F21826;
    color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.brand_image--hide{
    opacity: 0;
    height: 0;
    width: 0;
}
/* when navigation bar is scrolled */
.navigation-bar--scrolled {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    height: 70px;
    width: 100%;
    z-index: 1000;
    top:0;
    -webkit-transition: height .3s; /* Safari */
    transition: height .3s;
}
.navigation-bar--scrolled .occasion_select{
    height: 32px;
    font-size: 14px;
}
.navigation-bar--scrolled .occasion_select--button {
    height: 32px;
    font-size: 14px;
}
.navigation-bar--scrolled .navbar-brand img {
    height: 40px;
}
.navigation-bar--scrolled .header_icons {
    height: 20px;
}
.navigation-bar--scrolled .navbar-item {
    font-size: 14px;
}


.landing-page_banner-title {
    margin: 150px 0 0 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    display: block;
    width: min-content;
    width: -moz-min-content;
    padding: 20px;
    position: relative;
}

/* .landing-page_banner-title:before {
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: -20px;
    border-top: 7px solid #F21826;
    border-left: 7px solid #F21826;
}

.landing-page_banner-title:after {
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 7px solid #F21826;
    border-right: 7px solid #F21826;
} */


.landing-page_banner-title::before,
.landing-page_banner-title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 7px solid #F21826;
}

.landing-page_banner-title::before {
    top: -20px;
    left: -20px;
    border-width: 7px 0 0 7px;
    /* -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0); */
    animation: .8s ease-out 0s 1 borderLeftTopOut;
    transform-origin: top left;
}
@keyframes borderLeftTopOut {
    0% {
        /* opacity: 0; */
        /* -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
        -webkit-transform: translate3d(20px, 20px, 0);
        transform: translate3d(20px, 20px, 0); */
        transform: scale(0);
    }
    100% {
        /* opacity: 1; */
        /* -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); */
        transform: scale(1);
    }
}

.landing-page_banner-title::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 7px 7px 0;
    /* -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0); */
    animation: .8s ease-out 0s 1 borderRightBottomOut;
    transform-origin: bottom right;
}
@keyframes borderRightBottomOut {
    0% {
        /* opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
        -webkit-transform: translate3d(-20px, -20px, 0);
        transform: translate3d(-20px, -20px, 0); */
        transform: scale(0);
    }
    100% {
        /* opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); */
        transform: scale(1);
    }
}

.landing-page_banner-title--sub {
    font-size: 28px;
}

.landing-page_selector {
    margin-top: 100px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.landing-page_selector:focus {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.landing-page_selector>option {
    background:transparent;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.landing-page_search-button {
    background: #F21826;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 7px 30px;
    color: #fff;
    margin: 0 auto;
    display: block;
}
.landing-page_search-button:hover {
    background: #FF1928;
    color: #fff;
}

/*searchbar collapse*/
.collapsing {
    transition: none !important;
}
.search_bar {
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20px;
    z-index: 1000;
}
.search_bar--input {
    max-width: 400px;
    font-size: 16px;
    border-radius: 0;
    height: 40px;
    border: 1px solid #3C3E3E;
}
.search_bar--input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.search_button--search {
    background: #3C3E3E;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 40px;

}
.search_bar .search_button--search-icon {
    height: 24px;
    fill:none;
    stroke: rgba(255, 255, 255, 1);
}
.search_bar .search_button--search:hover {
    background: #000;
}

.search_button--close {
    padding: 0;
    background: transparent;
    color: #ccc;
    font-size: 26px;
}
.search_button--close:hover {
    color: #3C3E3E;
}
.search_button--close:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* home page offer style */

.section_title {
    display: table;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
}

.section_title:after {
    display: block;
    content: "";
    width: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #F21826;
}

.offer_item {
    padding: 0 10px;
}

.offer_item--container {
    position: relative;
    height: 240px;
    width: 100%;
    margin-bottom: 20px;
}

.offer_item--container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    position: relative;
    z-index: 0;
}

.offer_item--container_height2 {
    height: 500px;
}

.offer_item--overlay {
    /*display: block;*/
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
}

.offer_item--content {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
    z-index: 20;
}

.offer_item--content>h1 {
    font-weight: bold;
}

.offer_item--content_buy-button {
    background: #F21826;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 7px 30px;
    color: #fff;
}

.container-red {
    background-color: #F21826;
}

.container-dark {
    background-color: #3C3E3E;
}

.offer-button {
    position: relative;
    /*cursor: pointer;*/
}

.offer-button {
    color: #fff;
    position: relative;
    text-decoration: none;
    z-index: 100;
}

.offer-button:before {
    /* display: block; */
    z-index: 10;
    content: "";
    /* width: 30%; */
    position: absolute;
    width: 100%;
    margin-top: 5px;
    height: 20px;
    left: 0;
    border-bottom: 2px solid #fff;
    transition: 0.3s linear;
    transform: scaleX(0.3);
    transform-origin: left;
    /* transition: transform 300ms linear; */
}

.offer-button:hover, .offer-button:hover:before {
    /* width: 100%; */
    /* transform: scaleX(3.4) tra   nslateX(35%); */
    transform: scaleX(1);
    transform-origin: left;
    color: #fff;
    text-decoration: none;
}

/* home mug carousel */

.carousel-slanted {
    position: relative;
    padding: 0;
}

.carousel-slanted_background {
    background-color: #3C3E3E;
    height: 480px;
    width: 100%;
    clip-path: polygon( 0 0, /* left top */
    100% calc(0% + 7vw), /* right top */
    100% 100%, /* right bottom */
    0 calc(100% - 7vw)/* left bottom */
    );
}

.carousel-container {
    position: absolute;
    bottom: -95px;
    left: 50%;
    transform: translate(-50%, 0);
}
.home_mockup-mug{
    width: 450px;
}
.carousel-navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.carousel-navigation_number {
    color: rgba(255, 255, 255, .3);
    font-size: 20px;
}

.carousel-slanted .carousel-number {
    color: #fff;
}


.carousel-slanted .carousel-item{
    position: absolute;
    height: 326px;
    width: 263px;
    /* background: #f00; */
    /* left: 146px; */
    left: 50%;
    top: 25px;
    transform: translateX(-65%);
}
/* .carousel-slide {
	height: 400px;
	width: 100%;
} */
#slider-image {
    -webkit-mask: url('../images/mask.svg') no-repeat;
    height: 326px;
    width: 100%;
    object-fit: cover;
    object-position: right;
}
.home_mockup-shadow {
    position: absolute;
    left: 50%;
    height: 326px;
    top: 25px;
    transform: translateX(-67.1%);
}
.slick-prev {
    top: 23.8%;
    left: auto;
    right: -89%;
    width: 12px;
    height: -moz-max-content;
    height: max-content;
}
.slick-prev:before{
    content: url('../images/icons/arrowTop.svg');
    display: block;
    width: 12px;
}
.slick-next {
    top: 61%;
    right: -89%;
    width: 12px;
    height: -moz-max-content;
    height: max-content;
}
.slick-next:before{
    content: url('../images/icons/arrowBot.svg');
    display: block;
    width: 12px;
}
.slide-count-wrap{
    position: absolute;
    top: 37%;
    right: -94%;
    /* right: 5%;
    top: 100px; */
    font-size: 20px;
    color: rgba(255, 255, 255, .3);
}
.slide-count-wrap>.current{
    color: rgba(255, 255, 255, 1);
}




/* home featured products */

.featured {
    margin-top: 150px;
}

.featured_product-container>h5 {
    color: #333;
}

.featured_product-container>h6 {
    color: #555;
}

/* footer */
.footer {
    -webkit-filter: drop-shadow(0 2px 5px rgba(0,0,0,0.16)) drop-shadow(0 2px 10px rgba(0,0,0,0.12));
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.16)) drop-shadow(0 2px 10px rgba(0,0,0,0.12));
}
.footer-top {
    position: relative;
    padding: 8vw 0 2vw 0;
    background: #ffffff;
    /* min-height: 500px; */
    clip-path: polygon( 0 0, /* left top */
    100% calc(0% + 7vw), /* right top */
    100% 100%, /* right bottom */
    0 100%/* left bottom */
    );

}

.footer-top_logo>img {
    max-width: 200px;
}
.footer-top_links--heading{
    color: #333;
    font-size: 20px;
}
.footer-top_links {
    padding: 0;
    list-style-type: none;
}

.footer-top_links>li {
    display: table;
}
.footer-top_links>li>a {
    text-decoration: none;
    display: block;
    padding: 4px;
    color: #555;
    font-size: 14px;
}
.footer-top_links>li>a:hover {
    color: #000;
}
.footer-top_contact--details>img{
    height: 16px;
}
.footer-top_contact--details>p{
    color: #555555;
    font-size: 14px;
    line-height: 24px;
}
.footer-top_social-links>a>img{
    height: 18px
}

.footer-middle {
    min-height: 200px;
    background-color: #3C3E3E;
}

.newletters_heading{
    color: #fff;
    font-size: 20px;
}
.newletters_email{
    max-width: 400px;
}
.newletters_email--input{
    border-radius: 0;
    background-color: transparent;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #555;
    color: #fff;
    font-size: 14px;
    height: 32px;
}
.newletters_email--input:focus{
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.newletters_email--input:focus ~ .input-group-append .newletters_email--button{
    border-bottom: 1px solid #fff;
}
.newletters_email--button{
    border-bottom: 1px solid #555;
    border-radius: 0;
    background-color: transparent;
    height: 32px;
}
#input-arrow {
    fill: #888;
}
.newletters_email--button:hover #input-arrow{
    fill: #fff;
}
.newletters_img--container{
    position: relative;
}
.newletters_img--container>img {
    position: absolute;
    right: 110px;
    top: -80px;
    max-height: 250px;
}

.footer-bot {
    min-height: 40px;
    background-color: #fff;
}



/* how to css */
.wrapper{
    padding: 0;
}
.howTo-page_banner-image{
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/howToDesign.jpg') no-repeat center center;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: 80vh;
    clip-path: polygon( 0 0, /* left top */
    100% 0, /* right top */
    100% calc(100% - 7vw), /* right bottom */
    0 100%/* left bottom */
    );
}
.howTo_banner-title {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    display: block;
    width: min-content;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}

.howTo_banner-title::before,
.howTo_banner-title::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 7px solid #F21826;
}

.howTo_banner-title::before {
    top: -20px;
    left: -20px;
    border-width: 7px 0 0 7px;
    /* -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0); */
    animation: .5s ease-out 0s 1 borderLeftTopOut;
    transform-origin: top left;
}

.howTo_banner-title::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 7px 7px 0;
    /* -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0); */
    animation: .5s ease-out 0s 1 borderRightBottomOut;
    transform-origin: bottom right;
}


.howTo_banner-title--sub {
    font-size: 28px;
}

.howTo_instruction{
    position: relative;
    height: 100%;
    width: 100%;
}
.howTo_instruction-detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.instruction-title{
    display: table;
    position: relative;
}
.instruction-title:after{
    content: '';
    position: absolute;
    height: 75px;
    width: 75px;
    /* background: #f7f7f7; */
    left: 50%;
    top: 50%;
    z-index: -10;
    transform: scaleX(0) translate(-50%, -50%);
    transform-origin: right;
    transition: 1s ease;
}
.title-white:after{
    background:#ffffff;
}
.title-red:after{
    background:#F21826;
}
.scrolled-instruction-title:after{
    /* width: 75px; */
    transform: scaleX(1) translate(-50%, -50%);
}
.instruction{
    font-size: 24px;
}
.instruction-2{
    background:  #3C3E3E;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: 85vh;
    clip-path: polygon( 0 0, /* left top */
    100% calc(0% + 7vw), /* right top */
    100% 100%, /* right bottom */
    0  calc(100% - 7vw)/* left bottom */
    );
}
.howTo_instruction--container{
    position: relative;
    min-height: 300px;
}
.howTo_instruction1--hidden-image-container{
    visibility: hidden;
}
.howTo_instruction1--image{
    position: absolute;
    left: 15px;
    bottom: -20%;
    scroll-behavior: smooth;
}
.howTo_instruction2--image{
    position: absolute;
    bottom: -14%;
    scroll-behavior: smooth;
    /* transition: .2s ease; */
}
.howTo_instruction3--hidden-image-container{
    visibility: hidden;
}
.howTo_instruction3--image{
    position: absolute;
    left: 15px;
    bottom: -90%;
    scroll-behavior: smooth;
}


/* products page */
.page_title {
    position: relative;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #3C3E3E;
}
.page_title::after {
    content: '';
    position: absolute;
    background-color: #F21826;
    width: 50px;
    height: 4px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    animation: .5s ease-out 0s 1 borderBottomScale;
}
.product_title_container {
    transform: rotate(-90deg);
    display: table;
    position: relative;
    transform-origin: bottom;

    /*white-space: nowrap;*/
}
.background-text {
     font-family: "Josefin Sans";
     color: rgba(0, 0, 0, 0.08);
     font-weight: bold;
     font-size: 8rem;
 }

.product_page_title {
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    color: #3C3E3E;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.product_page_title::after {
    content: '';
    position: absolute;
    background-color: #F21826;
    width: 90px;
    height: 10px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    animation: .5s ease-out 0s 1 borderBottomScale;
}


.page_sub-title {
    position: relative;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    color: #3C3E3E;
}
.page_sub-title::after {
    content: '';
    position: absolute;
    background-color: #F21826;
    width: 35px;
    height: 3px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    animation: .5s ease-out 0s 1 borderBottomScale;
}

.component_title {
    position: relative;
    font-weight: bold;
    font-size: 16px;
    color: #3C3E3E;
}
.component_title::after {
    content: '';
    position: absolute;
    background-color: #F21826;
    width: 25px;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    animation: .5s ease-out 0s 1 borderBottomScale;
}

@keyframes borderBottomScale {
    0% {
        /* -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s; */
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
.product_filter {
    border: 1px solid #3C3E3E;
    width: 200px;
    font-size: 14px;
    height: 32px;
}

.our_products {
    font-size: 18px;
}

.product_type {
    padding-left: 20px;
}

.product_type>.custom-checkbox {
    margin-top: 10px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}
/* changing background color of checkbox */
.custom-control-label::before {
    background-color: #fff;
    border: 2px solid white;
    box-shadow: 0 0 0 1px black;
}
/* box-shadow on focus */
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px black;
}
/* removing tick mark */
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
}
/* changing color of checked checkbox */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: black;
}
.product-container--link, .product-container--link:hover {
    text-decoration: none;
}
.product-container {
    transition: .3s ease;
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 80px 5px;
    cursor: pointer;
    position: relative;
}
/* .products-slider .slick-dots li {
    margin: 0 2px;
}
.products-slider .slick-dots li button:before {
    font-size: 10px;
} */
.products-slider img {
    height: 173px;
}
.product-name {
    color: #333;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
}
.product-price {
    color: #888;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
}
.product_button {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F21826;
    /* border: 2px solid #333; */
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 15px;
}
/* .product-container:hover{
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
} */
.products-slider {
    transition: ease .3s;
}
.product-container:hover .products-slider{
    transform: scale(1.1);
}
.product-container:hover .product_button {
    display: block;
    /* background-color: #333;
    color: #fff; */
    animation: .3s ease-out 0s 1 buttonSlideUp;
    transform-origin: bottom;
}
@keyframes buttonSlideUp {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
.product_button:hover {
    background: #FF1928;
    color: #fff;
}

/* profile */
.profile_side-navigation {
    list-style: none;
    padding: 0;
}
.profile_side-navigation>li>a {
    text-decoration: none;
    color: #888;
    display: block;
    padding-top: 10px;
}
.profile_side-navigation>li>.active {
    color: #333;
}
.profile_side-navigation>li>a:hover:not(.active) {
    color: #555;
}

.profile_information-title {
    margin-top: 20px;
    font-size: 12px;
}
.profile_information {
    font-size: 15px;
}
/* profile modal */
.modal-form {
    width: 100%;
}
.modal-form_label {
    font-size: 15px;
    line-height: 22px;
}
.modal-form_input {
    border-radius: 0;
    border: 1px solid #d4d0c7;
    font-size: 15px;
    line-height: 22px;
}
.modal-form_input:focus {
    border: 1px solid #3C3E3E;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-form_button {
    border-radius: 0;
}

.keep-shopping_button {
    border-radius: 0px;
    background-color: #F21826;
    color: white;
    font-size: 14px;
}
/* basic information */
.basic_information {
    background-color: #fff;
    /* border: 1px solid black; */
    padding: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/* change password */
.change_password {
    background-color: #fff;
    /* border: 1px solid black; */
    padding: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/* primary address */
.primary_address {
    background-color: #fff;
    /* border: 1px solid black; */
    padding: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* order history */
.order-history_table{
    background-color: #fff;
    /* border: 1px solid black; */
    padding: 20px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.order-history_table>thead th{
    /* border-top: none; */
}
.order-history_table>tbody td {
    padding: 15px 8px;
}
.ordered_product_icon {
    width: 20px;
    height: 24px;
}
.table-with-image td{
    vertical-align: middle;
}
.table-image {
    height: 100px;
}

/* minimum main content height */
.min-main-height {
    min-height: 600px;
}

/* static pages */
.page_paragraph {
    font-size: 15px;
    line-height: 24px;
}

/* login form */
.custom-form {
    width: 380px;
    margin: 0 auto;
}
.custom-form_input {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #d4d0c7;
    background-color: transparent;
    font-size: 16px;
    line-height: 32px;
    margin: 0 auto;
}
.custom-form_input:focus {
    border-bottom: 2px solid #3C3E3E;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-form_input::placeholder {
    color: #888;
}
.custom-form_button {
    color: #fff;
    background: #3C3E3E;
    border-radius: 0;
    font-size: 16px;
    line-height: 32px;
    transition: .3s ease-in-out;
}
.custom-form_button:hover {
    color: #fff;
    background: #F21826;
}
.custom-form_link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 14px;
    transition: .2s ease-in-out;
}
.custom-form_link:hover {
    color: #3C3E3E;
    text-decoration: none;
    font-size: 14px;
}
.custom-form_link--account {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.custom-form_link--account a {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: bold;
    color: #3C3E3E;
    text-decoration: none;
    transition: .2s ease-in-out;
}
.custom-form_link--account a:hover {
    position: relative;
    text-decoration: none;
    /*color: #F21826;*/
}
.custom-form_link--account a:hover::after {
    content: '';
    position: absolute;
    background-color: #F21826;
    width: 30px;
    height: 3px;
    bottom: 0;
    left: 8px;
    transform-origin: left;
    animation: .5s ease-out 0s 1 borderBottomScale;
}

/*SEMI BOX ANIMATION*/
/*.custom-form_link--account a:hover::before,*/
/*.custom-form_link--account a:hover::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 16px;*/
    /*height: 16px;*/
    /*border: 1px solid #F21826;*/
/*}*/

/*.custom-form_link--account a:hover::before {*/
    /*top: -3px;*/
    /*left: -3px;*/
    /*border-width: 4px 0 0 4px;*/
    /*animation: .3s ease-out 0s 1 borderLeftTopOut;*/
    /*transform-origin: top left;*/
/*}*/
/*.custom-form_link--account a:hover::after {*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    /*border-width: 0 4px 4px 0;*/
    /*animation: .3s ease-out 0s 1 borderRightBottomOut;*/
    /*transform-origin: bottom right;*/
/*}*/

.custom-form_button--facebook {
    color: #fff;
    background-color: #3B5998;
    border-radius: 0;
    font-size: 16px;
    line-height: 32px;
}

.custom-form_button--google {
    color: rgba(0, 0, 0, 0.54);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    line-height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a4aaae;
}

/*when form has error*/
.has-error .help-block {
    color: #a94442;
}
.has-error .custom-form_input {
    border-bottom: 2px solid #a94442;
}
.has-error .custom-form_input:focus {
    border-bottom: 2px solid #843534;
}


/* contact form */
.contact-form {
    width: 380px;
    margin: 0 auto;
}
.contact-form_input {
    border-radius: 0;
    border: 1px solid #d4d0c7;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
}
.contact-form_input:focus, .contact-form_textarea:focus {
    border: 1px solid #3C3E3E;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact-form_input::placeholder, .contact-form_textarea::placeholder {
    color: #888;
}
.contact-form_textarea {
    border-radius: 0;
    border: 1px solid #d4d0c7;
    font-size: 14px;
    line-height: 20px;
}
.contact-form_button {
    color: #fff;
    background: #3C3E3E;
    border-radius: 0;
    font-size: 16px;
    line-height: 32px;
    transition: .3s ease-in-out;
}
.contact-form_button:hover {
    color: #fff;
    background: #F21826;
}

/* about page */
.about_image-container {
    height: 250px;
}
.about_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*editor */
#myCanvas{
    width: 100%;
}

.bg-button {
    padding: 0;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.cart-table td {
    vertical-align: middle ;
}
/*.quantity-button {*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/
/*.quantity-button:hover {*/
    /*background: #3f3f3f;*/
    /*color: #fff;*/
/*}*/


